<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>帮助页面</title>
<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/bootstrap/css/bootstrap-theme.min.css">
<style>
body {
  width: 800px;
  margin: 30px auto;
}
h1 {
  border-bottom: 1px solid #aaa;
  margin-bottom: 50px;
}
h2 {
  font-size: 22px;
  margin-top: 50px;
}
</style>
</head>
<body>
  <%- body %>
</body>
</html>
<script src="/public/js/jquery.js"></script>
<script src="/public/bootstrap/js/bootstrap.min.js"></script>
<script>

</script>